In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df_test = pd.read_csv('test.csv')
df_train = pd.read_csv('train.csv')

In [3]:
df_test.sample(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.0,0,0,7548,8.9625,NaN,S
146,1038,1,"Hilliard, Mr. Herbert Henry",male,NaN,0,0,17463,51.8625,E46,S
130,1022,3,"Spinner, Mr. Henry John",male,32.0,0,0,STON/OQ. 369943,8.0500,NaN,S
134,1026,3,"Dintcheff, Mr. Valtcho",male,43.0,0,0,349226,7.8958,NaN,S
283,1175,3,"Touma, Miss. Maria Youssef",female,9.0,1,1,2650,15.2458,NaN,C

In [4]:
df_train.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
547,548,1,2,"Padro y Manent, Mr. Julian",male,NaN,0,0,SC/PARIS 2146,13.8625,NaN,C
724,725,1,1,"Chambers, Mr. Norman Campbell",male,27.0,1,0,113806,53.1000,E8,S
556,557,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.0,1,0,11755,39.6000,A16,C
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,NaN,S

**1) Interpretando el DataFrame**

In [5]:
print (f'Tamaño de la muestra de entrenamiento {df_train.shape}.')
print (f'Tamaño de la muestra de prueba {df_test.shape}.')

Tamaño de la muestra de entrenamiento (891, 12).
Tamaño de la muestra de prueba (418, 11).

In [6]:
print (df_train.info())
print (df_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [7]:
print("Datos faltantes")
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())

Datos faltantes
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [8]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
df_test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

**2) Preprocesamiento de datos**

In [10]:
df_train["Sex"].unique()

array(['male', 'female'], dtype=object)

In [11]:
df_train["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [12]:
df_train["Sex"].replace(["female","male"],[0,1],inplace=True)
df_test["Sex"].replace(["female","male"],[0,1],inplace=True)
df_train["Embarked"].replace(["S","C","Q"],[0,1,2],inplace=True)
df_test["Embarked"].replace(["S","C","Q"],[0,1,2],inplace=True)

*Llenando las celdas N/A de la columna de Edad*

In [13]:
mean_age_train=round(df_train["Age"].mean())
mean_age_test=round(df_test["Age"].mean())

In [14]:
df_train["Age"]=df_train["Age"].replace(np.nan,mean_age_train)
df_test["Age"]=df_train["Age"].replace(np.nan,mean_age_test)

*Asignando bandas en la columna de edad
0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100*

In [15]:
bins=[0,8,15,18,25,40,60,100]
names=[1,2,3,4,5,6,7]
df_train["Age"]=pd.cut(df_train["Age"], bins, labels=names)
df_test["Age"]=pd.cut(df_test["Age"], bins, labels=names)

*Eliminamos las columnas no necesarias, y las filas con valores nulos*

In [16]:
df_train.drop(["Cabin"],axis=1, inplace=True)
df_test.drop(["Cabin"],axis=1, inplace=True)

In [17]:
df_train=df_train.drop(["PassengerId","Name","Ticket"], axis=1)
df_test=df_test.drop(["Name","Ticket"], axis=1)

In [18]:
df_train.dropna(axis=0,how="any",inplace=True)
df_test.dropna(axis=0,how="any",inplace=True)

*Revisión de los valores nulos y dataframes*

In [19]:
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())
print(df_train.shape)
print(df_test.shape)

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
(889, 8)
(417, 8)

In [20]:
df_train.sample(5)

     Survived  Pclass  Sex Age  SibSp  Parch      Fare  Embarked
779         1       1    0   6      0      1  211.3375       0.0
386         0       3    1   1      5      2   46.9000       0.0
769         0       3    1   5      0      0    8.3625       0.0
138         0       3    1   3      0      0    9.2167       0.0
735         0       3    1   5      0      0   16.1000       0.0

In [21]:
df_test.sample(5)

     PassengerId  Pclass  Sex Age  SibSp  Parch      Fare  Embarked
242         1134       1    1   5      1      1  134.5000         1
170         1062       3    1   7      0      0    7.5500         0
180         1072       2    1   5      0      0   13.0000         0
269         1161       3    1   5      0      0    8.6625         0
142         1034       1    1   4      1      3  262.3750         1

**3) Algoritmos de Machine Learning**

In [22]:
X=np.array(df_train.drop(["Survived"],1))
y=np.array(df_train["Survived"])

<ipython-input-22-a8e6a0cbf28f>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X=np.array(df_train.drop(["Survived"],1))

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

*Regresión Logistica*

In [24]:
logred=LogisticRegression()
logred.fit(X_train, y_train)
Y_pred=logred.predict(X_test)
print("Precisión de la Regresión Logistica")
print(logred.score(X_train, y_train))

Precisión de la Regresión Logistica
0.8073136427566807

*Maquinas de Soporte*

In [25]:
svc=SVC()
svc.fit(X_train, y_train)
Y_pred=svc.predict(X_test)
print("Precisión Vectores de Soporte")
print(svc.score(X_train, y_train))

Precisión Vectores de Soporte
0.6863572433192686

*K Neighbor*

In [26]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print("Precisión Vecino más cercano")
print(knn.score(X_train, y_train))

Precisión Vecino más cercano
0.8649789029535865

**3) Predicción de los modelos**

In [27]:
ids=df_test["PassengerId"]

In [28]:
prediccion_logred = logred.predict(df_test.drop('PassengerId', axis=1))
out_logred = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_logred })
print('Predicción Regresión Logística:')
out_logred.head()

Predicción Regresión Logística:

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [29]:
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))
out_svc = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_svc })
print('Predicción Soporte de Vectores:')
out_svc.head()

Predicción Soporte de Vectores:

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [30]:
prediccion_knn = knn.predict(df_test.drop('PassengerId', axis=1))
out_knn = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_knn })
print('Predicción Vecinos más cercanos:')
out_knn.head()

Predicción Vecinos más cercanos:

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1